@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: auto
}

.header-box {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    padding: 30px 100px;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    
}

.link {
    display: flex;
    justify-content: space-evenly;
}

.section-one {
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    padding: 80px;
    justify-content: center;
}

.section-one-left {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-right: 40px;
}

.section-one-left-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 10px;
}

.placeholder-one {
    background-color: #909091;
    padding: 100px;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 8px 36px;
    color: #F9FAF8;
    font-weight: bold;
    margin-top: 10px;
    width: 130px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px;
}

.section-two-top {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding-bottom: 40px;
}

.section-two-box {
    display: flex;
    flex-direction: row;
}

.section-container {
    width: 150px;
    padding-right: 40px;
}

.placeholder-two {
    border: 3px solid #3882F6;
    height: 150px;
    border-radius: 10px;
}

.section-subtext {
    margin-top: 10px;
    color: #909091;
}

.section-three {
    display: flex;
    justify-content: center;
    background: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.section-three-container {
    display: flex;
    flex-direction: column;
    width: 780px;
    padding: 120px;
}

.end-quote {
    color: #1F2937;
    font-weight: bolder;
    font-size: 24px;
    display: flex;
    justify-content: end;
    padding-top: 20px;
    padding-right: 60px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 72px 30px;
    color: #F9FAF8;
}

.section-four-container {
    box-sizing: border-box;
    background-color: #3882F6;
    padding: 76px 130px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-to-action,
#sign-up-two {
    font-weight: bolder;
}

.sign-up-subtext {
    font-weight: lighter;
} 

#sign-up-two {
    border: 2px solid #F9FAF8;
}